*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
input{
    display: none;
}
h1{
    font-weight: normal;
    font-size: 35px;
    position: relative;
    text-align: center;
    margin: 40px 0;
}
h1::before{
    content: '';
    position: absolute;
    width: 200px;
    height: 3px;
    background-color: red;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 10s linear infinite;
}
@keyframes  animate{
    0%{
        width:100px;
    }
    50%{
        width:200px;
    }
    100%{
        width:100px;
    }
}
.top-content{
    background-color: rgb(178, 179, 181);
    width: 90%;
    margin: 0 auto 20px auto;
}